{% set  meta = {
        'title': "Daniel Feito",
        'description': "Página web de Daniel Feito."
    }
-%}

<head>
    <!-- Meta info -->
    {% filter indent(width=4) -%}
    {% block meta -%}
    {% include "layout_head_meta.jinja" %}
    {%- endblock %}
    {%- endfilter %}

    <!-- Favicon & title -->
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <title>{% block title %}{{ meta.title }}{% endblock %}</title>

    <!-- Style -->
    {% filter indent(width=4) -%}
    {% block style -%}
    {% include "layout_head_style.jinja" %}
    {%- endblock %}
    {%- endfilter %}

    <!-- Scripts -->
    {% filter indent(width=4) -%}
    {% block scripts -%}
    {% include "layout_head_scripts.jinja" %}
    {%- endblock %}
    {%- endfilter %}
</head>