{% extends 'layout.jinja' %}

{% block content -%}
<main>
    <h1>¡Hola mundo!</h1>
    Esta es la web de <b>Daniel Feito</b>
    <br>
    <br>
</main>

<footer>
    <a class="web-badge" href="/webrings">
        <img src="/static/img/web_badge.gif" alt="88x31 web badge" width="88" height="31">
    </a>
</footer>

{%- endblock content %}